@import "reset.scss";
@import "fonts.scss";

html,
body {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #424551;
    line-height: 160%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.title {}

.features__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.features__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    max-width: 495px;


}

.button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #222222;
    border-radius: 4px;
    color: #fff;
    padding: 10px 25px 12px 25px;
    transition: all .3s;
    max-height: 40px;
}

.button:hover {
    transform: scale(1.05);
}


// ======================Header===================
.header {}

.header__top {
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    margin-bottom: 100px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.header__logo {}

.logo {}

.header__nav {
    display: flex;

}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-item {
    margin-right: 32px;

}

.header__nav-item {
    margin-right: 32px;

}
.header__nav-item:last-child {
    margin-right: 26px;

}

.header__nav-link {
    font-size: 15px;
    line-height: 24px;
    color: #666666;
    transition: all .3s;

}

.header__nav-link:hover {
    color: #222222;
}

.header__top-btn {}



.header__body {

    color: #222222;
}

.header__body-inner {
    display: flex;
    justify-content: space-between;

}

.header__content {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 78px;
    padding-bottom: 155px;
   max-width: 400px;
   

}

.header__body-logo {
    margin-bottom: 11px;
}

.header__title {
    margin-bottom: 18px;
    font-size: 54px;
    line-height: 59px;
    max-width: 400px;
}

.header__text {
    margin-bottom: 20px;
    line-height: 24px;
    max-width: 394px;
}

.header__btn-box {
    display: flex;

}

.header__body-btn:first-child {
    margin-right: 10px;
}

.button {}

.header__img {

    margin-right: 100px;
    width: 376px;
    height: 548px;
    overflow: hidden;

}

//=============================================

.features {
    background-color: #222222;
}

.features__body-inner {
    padding-top: 100px;

}

.features__main {}

.features__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 46px;
    text-align: center;
}

.features__body {
    margin-bottom: 100px;
}

.features__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 16px;
    margin: 0;
    
}

.features__img-box {
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.features__img {
    max-width: 227px;
    max-height: 270px;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 76px;
    margin-right: 76px;
    

}
.features__list-link{
    transition: all .4s;
   
}
.features__img img:nth-child(2){
    margin-top: -450px;
}

 .features__img img:nth-child(2) {
  
transition: all .4s;
    
    
}
.features__list-link:hover .features__img img:nth-child(2) {
   opacity: 0;
transition: all .4s;
    
    
}

.features__content-box {
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.features__content-box svg {
    transform: translateY(-50%);
    margin-bottom: 18px;

}

.features__content-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    margin-bottom: 11px;
    margin-top: -32px;

}

.title-blue {
    color: #0278ED;
}

.title-red {
    color: #FF5437;
}

.title-orange {
    color: #FF9209;
}

.title-pink {
    color: #E738CE;
}

.title-lightblue {
    color: #00C6DF;
}

.title-purple {
    color: #B25DF8;
}

.features__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: block;
    text-align: center;
    margin-bottom: 40px;
    height: 68px;
    width: auto;
    color: #222222;
    margin-left: 50px;
    margin-right: 50px;
}

.features__row {
    background-color: #FF5437;
    color: #FFFFFF;

}


.features__row-inner {}

.features__row-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__row-item {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__row-item:first-child {
    margin-left: 44px;
}

.features__row-item:last-child {
    margin-right: 88px;
}

.features__row-digit {
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 20px;
}

.features__row-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
//------------------------tech-------------------------
.tech {

    color: #222222;
}

.tech__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: relative;
    
    
}

.tech__content {
    margin-bottom: 188px;
    margin-right: 0px;
    margin-top: 177px;
    
    
}

.tech__title {
    margin-bottom: 15px;
}

.title {}

.tech__text {
    color: #666666;
    max-width: 403px;
    
}

.tech__img-box {
    display: flex;
    margin-top: 100px;
    position: relative;
    margin-bottom: -200px;
    z-index: -1;

    
    
    
    

}
.tech__img-box img{
    

  
}



//------------------------speed-------------------------
.speed {
    background-color: #F2F2F2;
   color: #222222;
}

.speed__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.speed__content {
    margin-top: 177px;
    margin-bottom: 177px;
}
.speed__title {
    margin-bottom: 15px;
}
.speed__title h2{
    max-width: 396px;
}

.speed__text {
    color: #666666;
    max-width: 403px;
    margin-right: 0;
}
.speed__img-box {
    margin-top: 100px;
    margin-right: 0;
    

}
.speed__avatar {
}
.speed__frame {
   
}

//-----------------------mode-----------------------

.mode {
    background-color: #222222;
}

.mode-inner {
    padding-top: 100px;
    padding-bottom: 160px;
}
.mode__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 36px;

}

.mode__text {
    font-size: 18px;
line-height: 24px;
margin-top: 14px;
text-align: center;
max-width: 578px;
}
.mode__img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
    
   
}
.mode__line {
    height: 2px;
    width: 600px;
    background: #E5E5E5;
    
}
.mode__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
}
.mode__icon-box svg{
    margin-bottom: 5px;
}
.mode__sun-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.mode__moon-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//===================pricing============================

.pricing {
    color: #222222;
    padding: 100px 0;;
}

.pricing__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pricing__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 41px;
}


.pricing__text {
    font-size: 18px;
line-height: 24px;
margin-top: 14px;
text-align: center;
max-width: 568px;
color: #666666;
}
.pricing__content {
    display: flex;justify-content: space-between;align-items: center;
}
.pricing__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;align-items: center;
    background: #F2F2F2;
border-radius: 20px;
margin-right: 16px;
width: 379px;
height: 338px;
}
.pricing__item:last-child{
    margin-right: 0;
}
.pricing__name {
    font-size: 18px;
line-height: 24px;
margin-top: 49px;
}
.pricing__digit {
    font-size: 108px;
line-height: 124px;
letter-spacing: 8px;
}
.pricing__item-text{
    font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
margin-bottom: 20px;


}
.pricing__btn {
    margin-bottom: 50px;
    
}

.colorb{
    color: #0278ED;
}
.bcolorb{
    background-color: #0278ED;
}

.colorr{
    color: #FF5437;
}
.bcolorr{
    background-color: #FF5437;
}
.coloro{
    color:#FF9209;
}

.bcoloro{
    background-color: #FF9209;
}

//========================testimonials==================

.testimonials {
    padding: 100px 0;
    background: #F2F2F2;
    color: #222222;
}

.testimonials__inner {
    max-width: 1180px;
  
    margin: 0 auto;
    height: 100%;
}
.testimonials__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 41px;

}


.testimonials__text {
    font-size: 18px;
line-height: 24px;
color: #666666;
margin-top: 14px;
}
.testimonials__slider-wrapper {
    
}
.testimonials__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.testimonials__slide {
    
    width: 379px;
    height: 224px;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 16px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;  
}



.testimonials__slide-inner {
   
    
    margin: 30px;
}


.testimonials__quote {
    font-size: 16px;
line-height: 24px;
margin: 30px 40px 20px 30px;
max-width: 310px;


}
.testimonials__user {
    display: flex;
    align-items: center;
    margin: 0 0px 30px 30px;
   
   
    

}
.testimonials__avatar {
    margin-right: 10px;
}
.testimonials__info {
    color: #1B1A1A;
}
.testimonials__info-name {
    font-size: 16px;
line-height: 20px;
margin-bottom: 2px;

}
.testimonials__info-position {
    font-size: 14px;
line-height: 20px;
}

//======================load===================

.load {
    padding-top: 100px;
    background-color: #FFFFFF;
    padding-bottom: 140px;
}

.load__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.load__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222222;
}

.load__text {
    margin-top: 14px;
    font-size: 18px;
line-height: 24px;
color: #666666;
margin-bottom: 26px;
max-width: 589px;
text-align: center;
}
.load__icon {
}

//===================faq========================

.faq {
    color: #222222;
    background: #E5E5E5;
    padding-top: 110px;
    padding-bottom: 110px;
}

.faq__inner {
}
.faq__heading {
}
.faq__title {
    font-size: 32px;
line-height: 36px;
margin-bottom: 13px;
}
.faq__subtitle {
    font-size: 15px;
line-height: 20px;
margin-bottom: 42px;
}
.faq__questions {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    gap: 50px;
}
.faq__questions-item {
}
.faq__questions-title {
    font-size: 18px;
line-height: 28px;
margin-bottom: 10px;
}
.faq__questions-text {
    font-size: 16px;
line-height: 24px;
}

//==================footer=======================

.footer {
    background: #F2F2F2;
    padding: 100px 0;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__logo {
    margin-bottom: 26px;
}
.footer__icon-box {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    
}
.footer__icon-item {
    margin-right: 20px;
}

.footer__icon-item:last-child {
    margin-right: 0;
}
.footer__item-link path{
    
    transition: all .3s;
}
.footer__item-link:hover path{
    
    transition: all .3s;
    fill: #666666;
}
.footer__text {
    font-size: 16px;
line-height: 24px;
color: #B1B1B1;
}
.word1 {
    font-size: 16px;
line-height: 24px;
color: #666666;
}
.word2 {
    font-size: 15px;
line-height: 24px;
color: #666666;
}

.burger{
    display: none;
}
//=================================MEDIA====================

//=================================1300====================
@media (max-width: 1300px){
    .features__body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .features__list {  
        grid-template: repeat(3,auto)/repeat(2,379px);
        
    }
    //=============================
    .pricing__content{
        padding: 0 20px;
        width: 100%;
        height: 100%;
    }
    .pricing__item{
        max-width: 379px;
        max-height: 338px;
    }
    //====================================
    
    .testimonials__slider-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        max-height: 224px;
    }
    .testimonials__slider{
        max-width: 788px ;
        
    }
    
    .testimonials__slide{
        width: 378px !important;
    }
}


//=================================1200====================
@media (max-width: 1200px){
    .tech__content{
        padding-left: 20px;
    }
    //==================================
    .speed__img-box{
        padding: 0 0 0 20px;
        
    }
    .speed__content{
        padding-left: 20px;
    }
    
}
//=================================1100====================

@media (max-width: 1100px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        background: rgba(0, 0, 0, 0.349);
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }

    .overlay--show {
        visibility: visible;
        opacity: 1;
    }

    .burger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s;
    }

    .burger--follow {
        top: 15px;
        right: 15px;
        box-shadow: 0 1px 8px #a1a1a1;
        background-color: #807e7e;
    }


    .header__top {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 100;
        min-width: 320px;
        height: 100vh;
        transform: translateX(100%);
        transition: all .3s;
    }

    .header__top--open {
        transform: translateX(0%);
    }

    .header__top-inner {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 100px 0;
    }

    .header__logo {
        margin: 0 0 30px 0;
        
    }

    .header__nav {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        flex-grow: 1;
    }

    .header__nav-list {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    .header__nav-item {
        margin: 0;
        align-items: center;
    }
    .header__nav-item:last-child {
        margin: 0;
        align-items: center;
    }

    .header__nav-link {
        display: block;
        padding: 20px;
        margin: 0;
        
    }
    .header__top-btn{
        max-height: 40px;
    }
    //=========================================
    .header__body{
        margin-top: 90px;
    }
    .header__content{
        margin-left: 35px;
    }
    .header__img {
        margin-right: 35px;
        max-width: 100%;
        max-height: 600px;
        // overflow: hidden;
    }
    //================================
    .features__row-item{
        margin-top: 60px;
    }
    .features__row-item:last-child{
        margin-right: 44px;
    }
    .features__row-digit{
        font-size: 88px;
        margin-bottom: 15px;
    }
    .features__row-text{
        margin-bottom: 60px;

    }
    //========================================
    .pricing__content{
        flex-direction: column;

    }
    .pricing__item{
        margin-right: 0;
        margin-bottom: 16px;
    }
    .pricing__item:last-child{
        margin-bottom: 0px;
    }
    //=============================
    .faq__questions {
        // grid-template-columns: repeat(1, 1fr);
        // grid-template-rows: repeat(5, 1fr);
        // gap: 30px;
        display: flex;
        flex-direction: column;
        
        
    } 
    .faq__questions-text{
        max-width: 545px;
    }  
}  



//=================================900====================
@media (max-width: 900px){
    .header__body-inner{
        align-items: center;
        justify-content: center;
    }
    .header__content{
        margin-left: 15px;
        margin-right: 15px;
        align-items: center;
        justify-content: center;
    }
    .header__title{
        text-align: center;
    }
    .header__text{
        text-align: center;
    }
    .header__img{
        display: none;
       
//=========================================
    }
    .features__list {  
        grid-template: repeat(6,auto)/repeat(1, 379px);
        
    }
    //============================
    .features__row-item{
        margin-top: 60px;
    }
    .features__row-item:last-child{
        margin-right: 44px;
    }
    .features__row-digit{
        font-size: 84px;
        margin-bottom: 10px;
    }
    .features__row-text{
        margin-bottom: 60px;

    }
    //===============================
    .tech__content{
        margin-bottom: -100px;
        margin-top: 0px;
        padding-right: 30px;
    }
    .tech__img-box img{
        max-width: 376px;       
        width: 100%;       
    }
    //=====================================
    .speed__content{
        margin-bottom: -100px;
        margin-top: 0px;
        
    }
    .speed__img-box img{
        max-width: 321px;       
        width: 100%;       
    }
    //====================================
    .testimonials__slider{
        max-width: 394px ;
        
    }
}


//=================================800====================
@media (max-width: 800px){
    .features__row-item{
        margin-top: 40px;
    }
    .features__row-item{
        margin-right: 30px;
        margin-left: 30px;
    }
    .features__row-digit{
        font-size: 60px;
        margin-bottom: 0;
    }
    .features__row-text{
        margin-bottom: 40px;
        font-size: 10px;


    }
    //==========================
    
    .tech__content{
        padding: 0;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tech__title{
        text-align: center;
    }
    .tech__text{
        text-align: center;
    }
    .tech__img-box {
        display: none;
        
    }
    //================================
    .speed__content{
        padding: 0;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .speed__title{
        text-align: center;
    }
    .speed__text{
        text-align: center;
    }
    .speed__img-box {
        display: none;
        
    }
}
//=================================700====================
@media (max-width: 700px){
    .mode__img-box{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .mode__img-box img, .mode__line{
        width: 100%;
    }

}

//=================================700====================
@media (max-width: 700px){
    .features__row-item{
        margin-top: 10px;
    }
    .features__row-item{
        margin-right: 15px;
        margin-left: 15px;
    }
    .features__row-digit{
        font-size: 26px;
        margin-bottom: 0;
        height: 60px;
        margin-top: -30px;
    }
    .features__row-text{
        margin-bottom: 10px;
        font-size: 10px;


    }
    //===============================
    .footer__text{
        text-align: center;
    }
}
//=================================600====================
@media (max-width: 600px){
    .features__row{
        display: none;
    }
    .features__body{
        padding-bottom: 100px;
    }
    //=============================
    .tech__content{
        margin-top: -50px;
    }
    //=============================
    .speed__content{
        margin-top: 50px;
    }
    //============================
    .mode-inner{
        padding-bottom: 100px;
    }
    //====================================
    .pricing{
        padding: 50px 0;
    }
    .pricing__title{
        padding: 0 20px;
    }
}


//=================================500====================
@media (max-width: 500px){
    .header__body{
        margin-top: 10px;
        margin-bottom: -100px;
    }
    
    .features__list {  
        grid-template: repeat(6,auto)/repeat(1, 100%);
        max-width: 280px;
        
    }
    .features__content-box svg {
        transform: translateY(-100%);
        margin-bottom: 0;
    
    }
    .features__content-title {
        
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 3px;
        margin-top: -50px;
    }
    .features__content-text {
        height: 100%;
    }
    .features__img{
        margin: 40px 0 0 0;          
    }
    //===========================
    .tech__title p{
        font-size: 12px;
    }
    .tech__title h2{
        font-size: 26px;
    }
    .tech__text{
        font-size: 14px;
    }

    //===========================
    .speed__title p{
        font-size: 12px;
    }
    .speed__title h2{
        font-size: 26px;
    }
    .speed__text{
        font-size: 14px;
    }
    .tech__content, .speed__content{
        margin-bottom: 50px;
    }
    //=====================================
    .mode-inner{
        padding: 50px 0 33px 0;

    }
    .mode__title{
        margin-bottom: 12px;
    }
    .mode__title p{
        font-size: 12px;
    }
    .mode__title h2{
        font-size: 26px;
    }
    .mode__text{
        font-size: 16px;
        margin-top: 8px;
    }
    .mode__img-box{
        margin-bottom: 25px;
    }
    //================================
    .pricing__title h2{
        text-align: center;
    }
    .pricing__item{
        width: 100%;
    }

    //============================
    .testimonials{
        padding-top: 50px;
    }
    .testimonials__title{
        text-align: center;
    }
    .testimonials__slider{
        width: 270px !important;
        height: 280px !important;
    }
    
    .slick-slide{
        width: 270px !important;
        height: 280px !important;
    }
    //==============================
    .load{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .load__title{
        text-align: center;
    }
    .faq{
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .footer{
        padding: 50px 0;
    }
}    

//=================================400====================
@media (max-width: 400px){
    .header__title{
        font-size: 44px;
    }
    .header__btn-box{
        flex-direction: column;
    }
    .header__body-btn:first-child{
        margin: 0 0 10px 0;
    }
    //===========================
    .features__body-inner{
        padding-top: 50px;
    }
    .features__body{
        padding-bottom: 50px;
    }
    .features__text {
        font-size: 28px;
    }
    //=============================
    .mode-inner {
        padding: 25px 0 15px 0;
    }
    //==============================
    .pricing__name{
        margin-top: 25px;
    }
    .pricing__digit{
        font-size: 74px;
        line-height: 86px;
        letter-spacing: 5px;
        margin-top: -20px;
    }
    .pricing__item-text{
        margin-top: -20px;
    }
    .pricing__btn{
        margin-top: -30px;
    }
    //============================
    .faq__heading{
        text-align: center;
    }
    
}

//=================================320====================
@media (max-width: 320px){
    .features__text {
        font-size: 24px;
    }
}